
html{
    font-size: 12px;
}

body{
    background-color: #1a1a1a;
    background-image: url(papers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}



h2,h3{
    text-align: center;
    color: #393939;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Syne Mono";
    flex-wrap: wrap;
    padding: 1% 20%;
}
.logo{
    margin: 70px;
}
.paper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #d9d9d9;
    padding: 10px;
    margin: 0 30%;
    z-index: 1;
    object-fit: contain;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input[type="text"],input[type="password"]{
    border: 2px dashed black;
    background-color: #d9d9d9;
    margin: 5px;
    padding: 4px;
    font-family: "Cultive Mono";
    letter-spacing: 2px;
    font-size: 12px;
}


.forgot{
    text-align: end;
    margin-top: 0;
    cursor: pointer;
    font-family: "Cultive Mono";
    letter-spacing: 2px;
}

.forgot:hover{
    text-decoration: underline;
}

label{
    font-family: "Cultive Mono";
    letter-spacing: 2px;
    font-size: 12px;
}

label:hover{
    cursor: pointer;
    text-decoration: underline;
}

input[type="button"]{
    border-style: none;
    background-color: #615447;
    color: white;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: "Cultive Mono";
    letter-spacing: 2px;
}


.quote{
    margin-top: 0;
    text-align: center;
    font-family: "Lavishly Yours";
    font-size: large;
}


.typewriter{
    margin-top: 0;
    /* width: 100%; */
    position: relative;
    bottom: 20px;
    object-fit: contain;
}

.spacing{
    height: 300px;
}

footer{
    background-color: #1a1a1a;
    color: #615447;
    text-shadow: 0 0 10px black;
    font-family:"Cultive Mono";
    font-size: 20px;
    line-height: 1px;
    text-align: center;
    height: 100px;
    padding: 20px;
}

@media(900px< width){

    html{
        font-size: 1em;
    }

    body{
        background-size: cover;
        background-color: #1a1a1a;
    }

    .logo{
        height: 100px;
        position: absolute;
        right: 10px;
        top: 10px;
        margin: 30px;
    }
    .paper{
        margin-top: 50px;
        height: 450px;
        padding: 20px;
    }

    form{
        display: block;
        padding: 20px 0px;
    }

    input[type="text"],input[type="password"]{
        font-size: 1em;
        width: 90%;
        padding: 10px;
    }

    label{
        font-size: 1em;
    }

    input[type="button"]{
        font-size: 1em;
        margin: 20px 70px;
    }

    .quote{
        margin-top: 0;
        font-size: 2em;
    }

    .spacing{
        height: 280px;
    }

    .typewriter{
        content: url(typewriter2.png);
        position: absolute;
        bottom: 140px;
    }
    footer{
        z-index: 1000 !important;
    }
}